{% extends "layout.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
               <h1>Create New Category</h1>

               <form name="new-category" method="POST">
                    <div class="form-group">
                      <input name="new-category-name" type="text" class="form-control" required>
                    </div><br><br>
                    <button type="submit" >Submit</button>
                    <a href="{{ url_for('home') }}"><button type="button" >Cancel</button>
                    </a>
                </form>
{% endblock %}