{% extends "layout.html" %}
{% block title %}Add Item{% endblock %}

{% block content %}
               <h1>Create new item for the category {{ category.name }}</h1>
               <br>
               <form method="POST">
                    <div class="form-group">
                      <label>Title</label>
                      <input name="name" type="text" class="form-control" required>
                    </div>              
                    <div class="form-group">
                      <label>Description</label>
                      <textarea name="description" required></textarea>
                    </div>

                    <button type="submit">Submit</button>
                    <a href="{{ url_for('show_items_in_category', category_id=category.id) }}"><button type="button" class="btn btn-danger"><i class="fas fa-times text-and-icon"></i>Cancel</button></a>
                  </form>
{% endblock %}